<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Rainbow" version="2.1.2" targetFramework="net472" />
  <package id="Rainbow.Core" version="2.1.2" targetFramework="net472" />
  <package id="Rainbow.Storage.Sc" version="2.1.2" targetFramework="net472" />
  <package id="Rainbow.Storage.Yaml" version="2.1.2" targetFramework="net472" />
  <package id="Sitecore.Kernel" version="9.3.0" targetFramework="net472" />
  <package id="Unicorn" version="4.1.1" targetFramework="net472" />
  <package id="Unicorn.Core" version="4.1.1" targetFramework="net472" />
</packages>